
<div id="content">
<app-header></app-header>
<div class="container-fluid customCon">


  <div id="txtIn" style="color: white; text-align: justify;  padding: 40px 50px 40px 10px; "  class="row">
    <h2 class="TagIntro" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Top-Rated Movies and TV Shows - SHOWDANE</h2>
    <h5 class="txtIntro" style="margin-top: 20px; font-style: italic;">We are glad you're here! With SHOWDANE you can easily find whatever the Movie or TV Show you like.</h5>
    <h5 class="txtIntro" style="margin-top: 10px; font-style: italic;">This guide is organized by Rating to help find today's most Rated Movies and TV shows. You can filter your result by release year, age rating, genre, price. We also offer a great overview of what's new on stream service and guide to choose your Movies and TV Shows</h5>
 </div>
 <app-filter></app-filter>
<div class="row">
    <h1 class="Mtags">Top rated Movies</h1>
  </div><br><br>
    <div class="row">
        <div style="margin-left: 20px;" data-aos="fade-left" *ngFor="let movieTop of topList; let i=index;" class="col-xl-2 col-sm-4 col-5 col-md-3">
            <img (mouseenter)="onMouseEnter('top',i)" (mouseleave)="onMouseLeave('top',i)" class="popularImg" [src]="'https://image.tmdb.org/t/p/original'+movieTop.imgUrl">
            <div  (mouseenter)="onMouseEnter('top',i)" (mouseleave)="onMouseLeave('top',i)" class="showOV" [attr.id]="'topShowOverview'+i"><h1 class="overviewHoverTag">overview</h1>{{movieTop.overview}}</div>
        </div>
</div>
</div>
