<label class="bg"></label>
<div class=".container-fluid">
  <div class="row">
<div style="background-color: rgb(218, 205, 205)"  class="col-7">
<div  id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
      <button *ngFor="let imgUrl of upcomingList;let i = index" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i===0 ?true:false" [attr.aria-label]="'Slide '+i" ></button>

    </div>
    <div class="carousel-inner">
      <div *ngFor="let upcomingM of upcomingList;let i = index" class="carousel-item active" [class.active]="i === 0">
        <img style="filter: brightness(60%);" [src]="'https://image.tmdb.org/t/p/original'+upcomingM.imgUrl" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <button (click)="getTrailer(upcomingM.movieID)" id="btnPlay"><i class="fa-solid fa-play"></i></button>
            <h5 style="color: rgb(204, 192, 192); display: inline;"> Watch the trailer</h5>
            <h1 class="movieTitle">{{upcomingM.movieTitle}}</h1>
            <p style="font-size: x-large; font-family: 'Times New Roman', Times, serif;">Upcoming Movie!...</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    </div>

<div style="background-color:  rgb(218, 205, 205)"  class="col-5">
  <div style="margin-top: 5%;" class="row">
    <div class="col-6">
      <img id="icon" [src]="'assets/img/iconS.jpeg'" >
    </div>
    <div class="col-6">
      <nav style="margin-right: 20%;" class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button style="background-color: blueviolet; font-weight: 700; color: white;" class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      
      <iframe id="trailer"
      width="400"
      height="280"
      [src]="upcomingTrailer"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>


    </iframe>
    </div>
    <div id="btnDarkMove" class="col-6">
      <input id="check" type="checkbox">
      <label for="check" class="btnDark"></label>
      <i id="moonIcon" class="fa-solid fa-moon"></i>
      <i id="sunIcon" class="fa-solid fa-sun"></i>
    </div>
  </div>

  </div>
  </div>
</div><br><br>
  
<div class="container">
  <div class="row">
    <h1 class="Mtags">Popular Movies</h1>
  </div><br><br>
    <div class="row">
        <div data-aos="fade-left" *ngFor="let movieP of popularList; let i=index;" class="col-3">
            <img (mouseenter)="onMouseEnter('popular',i)" (mouseleave)="onMouseLeave('popular',i)"  class="popularImg" [src]="'https://image.tmdb.org/t/p/original'+movieP.imgUrl">
            <div  (mouseenter)="onMouseEnter('popular',i)" (mouseleave)="onMouseLeave('popular',i)" class="showOV" [attr.id]="'showOverview'+i"><h1 class="overviewHoverTag">overview</h1>{{movieP.overview}}</div>
        </div>

    </div><br>

    <div class="row">
      <h1 class="Mtags">Top rated Movies</h1>
    </div><br><br>
      <div class="row">
          <div data-aos="fade-left" *ngFor="let movieTop of topList; let i=index;" class="col-3">
              <img (mouseenter)="onMouseEnter('top',i)" (mouseleave)="onMouseLeave('top',i)" class="popularImg" [src]="'https://image.tmdb.org/t/p/original'+movieTop.imgUrl">
              <div  (mouseenter)="onMouseEnter('top',i)" (mouseleave)="onMouseLeave('top',i)" class="showOV" [attr.id]="'topShowOverview'+i"><h1 class="overviewHoverTag">overview</h1>{{movieTop.overview}}</div>
          </div>
  
      </div><br>


      <div class="row">
        <h1 class="Mtags">Now playing Movies</h1>
      </div><br><br>
        <div class="row">
            <div data-aos="fade-left" *ngFor="let nowPlayingM of nowPlayingList; let i=index" class="col-3">
                <img (mouseenter)="onMouseEnter('now',i)" (mouseleave)="onMouseLeave('now',i)" class="popularImg" [src]="'https://image.tmdb.org/t/p/original'+nowPlayingM.imgUrl">
                <div  (mouseenter)="onMouseEnter('now',i)" (mouseleave)="onMouseLeave('now',i)" class="showOV" [attr.id]="'nowShowOverview'+i"><h1 class="overviewHoverTag">overview</h1>{{nowPlayingM.overview}}</div>
            </div>
    
        </div>
  

    
</div>
