@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



#content{
    background-color:rgb(16, 16, 32);
}
.bg{
    background-color:wheat !important;
}
.blackColor{
    color: black !important;
  }

  .customCon{
    margin:0px 0px 30px 20px;
}

.TagIntro{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  .txtIntro{
    font-style: italic;
}


.popularImg{
    width: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.Mtags{
    font-family: "Permanent Marker", cursive;
    color: red;
    font-size: 50px;
    text-decoration: underline dotted white;
}

.showOV{
    position: absolute;
    bottom: 0px;
    color:rgb(100, 37, 158);
    font-size: larger;
    font-style: oblique;
    font-weight: 700;
    text-align: center;
    background-color: aliceblue;
    padding: 10%;
    border-radius: 10px;
    margin-left: 30px;

}
.hide{
    display: none;
    
}
.overviewHoverTag{
    color: red;
    text-decoration: underline dashed blue; 
    font-family: cursive;
}

@media(max-width:576px){
    .Mtags{
        font-family: "Permanent Marker", cursive;
        color: red;
        font-size: 30px;
        text-decoration: underline dotted white;
       
    }
    .popularImg{
        max-width: 100px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-left: 10px;
    }

    .showOV{
        position: absolute;
        bottom: 0px;
        color:rgb(100, 37, 158);
        font-size: small;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
        background-color: aliceblue;
        padding: 10%;
        border-radius: 10px;
    
    }
    .TagIntro{
        font-size: 18px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }
      .txtIntro{
        font-size: 15px;
    }



 
}
@media(min-width:576px){
    .Mtags{
        font-family: "Permanent Marker", cursive;
        color: red;
        font-size: 40px;
        text-decoration: underline dotted white;

    }
    .popularImg{
        width: 200px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-left: 15px;
    }

    .showOV{
        position: absolute;
        bottom: 0px;
        color:rgb(100, 37, 158);
        font-size: small;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
        background-color: aliceblue;
        padding: 10%;
        border-radius: 10px;
    
    }

 
}
@media(min-width:768px){
    .Mtags{
        font-family: "Permanent Marker", cursive;
        color: red;
        font-size: 40px;
        text-decoration: underline dotted white;

    }
    .popularImg{
        width: 140px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-left: 10px;
    }

    .showOV{
        position: absolute;
        bottom: 0px;
        color:rgb(100, 37, 158);
        font-size: small;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
        background-color: aliceblue;
        padding: 10%;
        border-radius: 10px;
    
    }

 
}

@media(min-width:992px){
    .Mtags{
        font-family: "Permanent Marker", cursive;
        color: red;
        font-size: 45px;
        text-decoration: underline dotted white;

    }
    .popularImg{
        width: 160px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-left: 15px;
    }

    .showOV{
        position: absolute;
        bottom: 0px;
        color:rgb(100, 37, 158);
        font-size: small;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
        background-color: aliceblue;
        padding: 10%;
        border-radius: 10px;
    
    }

 
}
@media(min-width:1300px){
    .popularImg{
        width: 280px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    
    .showOV{
        position: absolute;
        bottom: 0px;
        color:rgb(100, 37, 158);
        font-size: larger;
        font-style: oblique;
        font-weight: 700;
        text-align: center;
        background-color: aliceblue;
        padding: 10%;
        border-radius: 10px;
    
    }
    .Mtags{
        font-family: "Permanent Marker", cursive;
        color: red;
        font-size: 50px;
        text-decoration: underline dotted white;
    }

}