
<img style="border-radius: 10px;" id="icon" [src]="'assets/img/logo.png'" >
<img id="HomePageImg" [src]="'assets/img/movieWebLogPage.jpg'">
<div  id="signIn">
  <h1 style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sign In</h1><br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text at" id="addon-wrapping">&#64;</span>
        <input [(ngModel)]="userInfo.email"  type="text" class="form-control txtField" placeholder="email address" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <h5 class="errorMs" *ngIf="txtEmailV"  >{{txtEmailV}}</h5>

      <div class="input-group flex-nowrap">
        <span class="input-group-text at" id="addon-wrapping">&#64;</span>
        <input [(ngModel)]="userInfo.userName"  type="text" class="form-control txtField" placeholder="user name" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <h5 class="errorMs" *ngIf="txtUserNameV" >{{txtUserNameV}}</h5>

      <div class="input-group flex-nowrap">
        <span class="input-group-text at" id="addon-wrapping">&#64;</span>
        <input [(ngModel)]="userInfo.password"  type="text" class="form-control txtField" placeholder="password" aria-label="Username" aria-describedby="addon-wrapping">
      </div><h6 class="rule">* password atleast must contain 4 numbers and letters</h6>
      <h5 class="errorMs" *ngIf="txtPasswordV">{{txtPasswordV}}</h5>

      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle txtField" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul  class="dropdown-menu ">
          <li *ngFor="let Country of countrys"><a (click)="setName(Country.cName)"  class="dropdown-item"><img width="40px"  [src]="Country.cFlag"> {{Country.cName}}</a></li>
        </ul>
        <input [(ngModel)]="userInfo.country" type="text" class="form-control txtField" aria-label="Text input with dropdown button">
      </div>
      <h5 class="errorMs" *ngIf="txtCountryV" >{{txtCountryV}}</h5>

      <button  (click)="SignIn()" id="btnSignIn">Sign In</button>
      </div>
      


<div id="footer-move" >      
<app-footer></app-footer>
</div>
